@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #f1c8d9, #f2c3a0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #927661b9;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-shadow: 1px 1px 2px #573403bb;
    color: #f39209;
    text-align: center;
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}