@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    text-align: center;
}
header > h3 {
    margin-top: 100px;
    margin-bottom: 200px;
}
header > h1 {
    font-family: idroid;
    font-size: 3em;
}
header > h2 {
    font-size: 2em;
    margin-bottom: 200px;
}

article.cabecalho {
    background-color: lightgray;
    width: 720px;
    margin-left: 100px;
    margin-bottom: 200px;
}
aside > img{
    position: absolute;
    display: block;
    margin-left: 900px;
    
}
aside.cabeca > p {
    font-size: 1.3em;
    width: 700px;
    margin-left: 0px;
    padding: 10px;
}

#corpo {
    margin-bottom: 100px;
}
section#corpo > h1 {
    font-size: 2em;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 100px;
}
.principal > img {
    position: absolute;
    margin-left: 800px;
}
.principal > p {
    width: 700px;
    margin-left: 50px;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    margin-left: 50px;
}

p {
    text-align: justify;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 900px;
    font-size: 1.2em;
}

a {
    margin-left: 50px;
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}